<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Buku Masih Belajar</mat-card-title>
    <mat-card-subtitle>Gramedia</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/masih_belajar.jpg" alt="Masih Belajar" >
  <mat-card-content>
    <p>Kondisi: Baru</p>
    <p>Berat: 600 Gram</p>
    <p>Waktu Preorder: 55 Hari</p>
    <p>Kategori: Buku Kesuksesan</p>
    <p>Etalase: Semua Etalase</p>
    <p>Harga: Rp. 95.000</p>
  </mat-card-content>
  <mat-card-actions class="example-button-row">
    <a mat-raised-button color="accent"
      href="https://www.tokopedia.com/masih-belajar/buku-masih-belajar-by-iman-usman-open-pre-order-limited-stock"
      target="_blank" >Order Now</a>
  </mat-card-actions>
</mat-card>

